#page {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

body {
    background: #FAF8EF;
    font-family: Tahoma, sans-serif;
    margin: 0;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    margin: 80px auto 0 auto;
}

#title {
    color: #776E65;
    font-size: 38px;
    margin: 0;
}

#score-box {
    background: #BBADA0;
    width: 120px;
    height: 70px;
    border-radius: 25px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#score-label {
    font-size: 16px;
}

#score-value {
    font-size: 24px;
    font-weight: bold;
}

#gameCanvas {
    border-radius: 10px;
    background: #BBADA0;
}

#graphicKey {
    width: 750px;
    height: auto;
    max-width: none;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
